.calculator {
    width: 400px;
    height: 600px;
    position: relative;
    margin: auto;
    background: #133337;
    padding: 5px 10px;
    border-radius: 20px;
    box-shadow: 0 5px 50px 0 rgba(0, 0, 0, .5);
    box-shadow: inset 0 -5px 10px 5px rgba(0, 0, 0, .5);
    transform: scale(.8);
}

.calculator-screen {
    width: 100%;
    height: 100px;
    background-color: #cddecc;
    color: #6d756b;
    text-align: right;
    font-size: 50px;
    border: none;
    padding: 0 20px;
    box-sizing: border-box;
    border-radius: 15px;
    margin-bottom: 40px;
    margin-top: 20px;
    font-family: 'Rubik', sans-serif;
    box-shadow: inset 0 -5px 10px 2px #6b756a,
                0 5px 10px 0px #3f423f;
}

.calculator-keys {
    width: 100%;
} 

.row {
    display: flex;
}

button {
    width: 76px;
    height: 76px;
    font-size: 50px;
    font-weight: 900;
    position: relative;
    background-color: #f0eeef;
    border: 1px solid black;
    color: #3b3b3c;
    width: 25%;
    outline: none;
    border-radius: 18px;
    font-family: 'Rubik', sans-serif;
    margin: 2px 2px;

    box-shadow: inset 0 5px 10px 0 #fff,
                inset 0 -5px 10px 3px #847a7aba,
                0 5px 10px 0px #1e211e;

    
}

.all-clear {
    width: 50%;
    background: #ff1900;
    color: #fff;
    box-shadow: inset 0 5px 10px 0 #ff1900,
                inset 0 -5px 10px 3px #2d1f1fba,
                0 5px 10px 0px #1e211e;
}
.all-clear:hover {
    box-shadow: inset 0 -5px 10px 0 #ff1900,
                inset 0 5px 10px 3px #2d1f1fba,
                0 0px 10px 0px #3f423f00;
}

.zero-btn {
    width: 50%;
}
.equal-sign {
    background: #31e008;
    color:#fff;
    box-shadow: inset 0 5px 10px 0 #31e008, inset 0 -5px 10px 3px #2a5a22bf, 0 5px 10px 0px #1e211e;
}
.operator {
    background-color: orange;
}
.percentage {
    background-color: orange;
}

button:hover {
    box-shadow: inset 0 -5px 10px 0 #fff,
                inset 0 5px 10px 3px #847a7aba,
                0 0px 10px 0px #3f423f00;
}

button:active {
      transform: translateY(5px) scale(.98);
}

h2 {
    margin: auto;
    padding-left: 20px;
    padding-top: 4px;
    color: #fff;
    font-weight: bold;
}

body {
    background-image: url("coba.png");
    background-repeat: no-repeat;
    background-position: 31% 69%;
}
